@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-90;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.media-active > div:nth-child(1) {
  transform: rotate(360deg);
  @apply opacity-0;
}

.media-active > div:nth-child(2) {
  transform: rotate(360deg);
  @apply opacity-100;
}

.media-active > div:nth-child(3) {
  @apply opacity-100;
  @apply -translate-y-16;
}

.media-active > div:nth-child(4) {
  @apply opacity-100;
  @apply -translate-y-24;
}

.media-active > div:nth-child(5) {
  @apply opacity-100;
  @apply -translate-y-32;
}

@font-face {
  font-family: Gilroy;
  src: url(FontsFree-Net-Gilroy-ExtraBold.ttf);
}
h1 {
  font-family: Gilroy;
}
